# KiCad generated/local files
KiCad_Files/ShotClockPCB/**/.history/
KiCad_Files/ShotClockPCB/**/*-backups/
KiCad_Files/ShotClockPCB/**/*.kicad_prl
KiCad_Files/ShotClockPCB/**/fp-info-cache
KiCad_Files/ShotClockPCB/**/dsn_autorouter/

.vvp
.vcd
.vcd.gz
*.fst
*.vpd
*.vcd.*

# GTKWave save files
*.sav
*.gtkw

# Simulation logs and temporary outputs
*.log
*.wlf
*.vdb
sim_out/

# Editor/temp files
*~
.DS_Store
